<section class="container">
    <div class="main-title-home">
        <h1>Catálogo</h1>
    </div>
    <% for (let product of products) { %> 
    <a href="/products/detalles/<%= product.id %> " class="card">
        <img src="/img/products/<%= product.image %> " class="card-img-top" alt="portada-libro"> 
        <h5 class="card-title contenido-carta-articulo titulo-articulo-home"><%= product.title %> </h5>
        <div class= 'estrellitas'>

            <% let rating = product.rating
        
            for (let i = 0; i < 5; i++) { %>
        
                <% if (rating >= 1) { %>
                    <i class="fas fa-star"></i>
                <% rating-- }
        
                else if (rating > 0) { %>
                    <i class="fas fa-star-half-alt"></i>
                <% rating-- }
        
                else { %>
                    <i class="far fa-star"></i>
                <% rating-- }
                
            } %>
        
        </div>
       
            <% let oferta = 100 - product.offer; %>
            <% for(let p of products) { %>
            <% if (product.offer) { %>
                    <div class = "precio-tarjeta">
                        <p class=" precio-original"><s>$<%= product.price %> </s> </p> 
                        
                        <p class= "offer-percent"> %<%= product.offer %></p>
                    </div>
                    <h3><b>$ <%= (product.price * oferta) / 100 %> </b></h3>
                    
            <%  break }
                
            else { %>
                <h3><b> $<%= product.price %> </b></h3>
                <% } break %>

            <% } %>
      
        <div class = "enviosGratis"> <i class="fas fa-truck"></i> Envio gratis </div>
        
       

    </a>
    <% } %> 
</section>