<% 
    var montoFinal = 0
    var cantidadArticulos = data.ordenesUsuario.reduce((acc, libro) => acc + libro.dataValues.cantidad_productos, 0)
    var idOrdenesUsuario = [[], []]
    data.ordenesUsuario.forEach(orden => {
        idOrdenesUsuario[0].push(orden.id)
        idOrdenesUsuario[1].push(orden.cantidad_productos)
    })

    console.log(idOrdenesUsuario)
    

    data.librosUsuario.forEach((libroUsuario, i) => {
        
        montoFinal += ((libroUsuario.precio * (1 - libroUsuario.oferta / 100)) * idOrdenesUsuario[1][i])
    });

    // var montoFinal = data.librosUsuario.reduce((acc, libro) => {
    //     acc + (libro.dataValues.precio)
    // }, 0)



%> 

<!DOCTYPE html>

<html lang="es">

<head>

    <title>Carrito</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

    
    <script>
        

        localStorage.setItem("monto", <%= montoFinal %>)
        localStorage.setItem("cantidadArticulos", <%= cantidadArticulos %>)
        let monto = localStorage.getItem("monto")
        let cantidadArticulos = localStorage.getItem("cantidadArticulos")
        console.log(monto)
        console.log(cantidadArticulos)


    </script>

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main>


        <div class="max-width">

        <div class = "titulo-entrada-carrito">
            <h2><strong> Tu carrito </strong></h2>

            <hr class="dropdown-divider">

            <div class="container-entrada-carrito">
                <i class="fas fa-shopping-cart"></i> 
                <span>Tienes una cantidad de <%= cantidadArticulos %> articulos por un total de <b> $<%= montoFinal %>  </b> en tu carrito</span>
            </div>

            <hr class="dropdown-divider">

            
        </div>    

        <div class = "titulo-entrada-carrito">
            <h3> <b> Detalles de tu carrito </b> </h3>
        </div>  

        <ul class="lista-articulos">

            <% 
                data.librosUsuario.forEach((libroUsuario, i) => {
             %> 
                <a href="/products/detalles/<%= libroUsuario.id %>" class="libro-usuario-carrito elemento-carrito">
                    <div class = "container-info-1">
                        <div> <img class = "libro-guion-carrito" src = "<%= libroUsuario.imagen %>"> </div>
                        <div class = "info-producto">  
                                <h3 class = "carrito-titulo-libro"><%= libroUsuario.titulo %></h3>  
                                <div class = "precio-tarjeta precio-carrito">
                                <p class=" precio-original"><s>$<%= libroUsuario.precio %> </s> </p> 
                                <p class= "offer-percent"> <%= libroUsuario.oferta %>%</p>
                                </div>
                                <h3><b>$<%= (libroUsuario.precio * (100 - libroUsuario.oferta)) / 100 %> </b></h3>
                        </div>
                    </div>        
                    <div class = "container-info-2">
                        <form action="/products/carrito/cantidadProductos/<%= idOrdenesUsuario[0][i] %>?_method=PUT" method="POST" class="carrito-cantidad-productos">
                            <input type="number" name="cantidadProductos" value="<%=idOrdenesUsuario[1][i]%>" class="input-articulos p-2">
                            <button type="submit" class="btn btn-primary mx-2">Guardar</button>
                        </form>
                        <div>
                            <span class="precio-original"><s>$<%= libroUsuario.precio * idOrdenesUsuario[1][i] %></s></span>
                            <span class="precio-home">$<%= ((libroUsuario.precio * (100 - libroUsuario.oferta)) / 100)  * idOrdenesUsuario[1][i] %></span>
                        </div>
                        <div>
                            <form onsubmit="return confirm('Esta seguro que desea eliminarlo?');" method="POST" action="/products/carrito/delete/<%= idOrdenesUsuario[0][i] %>?_method=DELETE"><button class = "btn btn-danger" >Eliminar</button></form>
                        </div>
                        
                    </div>
                </a>
            <% }) %> 
        </ul>

        <div class = "carrito-compra">
            <img class = "logo-carrito" src = "/img/LOGO.png" >
            <div class= "info-carrito">
                <p>Gastos de envio: Gratuito</p>
                <p>Total: $<%= montoFinal %></p>
                <div> <a href="/"><button class= 'boton-para-comprar'> COMPRAR </button></a></div>
            </div>
        </div>

        <section class="contenedor-carrousel-carrito">
            <h4 class= 'libros-interesados'>Libros que tal vez te interesen</h4>
            <!-- Carrusel -->
            <%- include("../partials/carrusel") %>
            <!-- Fin del Carrusel -->

        </section>

        </div>

    </main>

    <!-- Footer -->

	<%- include("../partials/footer") %>

	<!-- Fin del footer -->

    
</body>

</html>