<!DOCTYPE html>

<html lang="es">

<head>

    <title>Agregar producto</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main class = 'main-detalles'>

        <%- include('../partials/erroresValidacion') %> 

        <div class="max-width">

        <h2 class="admin-heading titulo-generos libro-detalles bs-hedwig"> NUEVO PRODUCTO </h2>
        
        <form action="/products/create" class="detalle-del-producto-admin" id="form-edit-product" method="POST" enctype="multipart/form-data">

            <div class="container2-edit-product">

                <section class="edit-image-section">

                <div class="container-edit-image">
                    <label for="image-edit-placeholder" class="edit-input-foto"> Agregue la imagen del producto <i class="fas fa-camera edit-camera-icon edit-input-foto"></i></label>
                    
                    <input class="upload-bottom" name="image" type="file" > 
                </div>
                <div class="edit-precio">
                    <input name="price" class="edit-input-style edit-info-product1" id="precioNuevoProd" type="text" placeholder="Precio">
                    <small id="precioValidation" class="text-danger d-block d-none mt-1">Asignale un precio válido al producto. Solo el monto, sin signo de moneda (Ej: $, €, etc.).</small>
                    <br>
                    <input name="offer" class="edit-input-style edit-info-product1" id="ofertaNuevoProd" type="text" placeholder="Oferta">
                    <small id="ofertaValidation" class="text-danger d-block d-none mt-1">Asigná un % válido de oferta. Procurá que sea entre 0 (si no querés ponerle oferta al producto) y 100.</small>
                </div>

                </section>
                
                <section class= 'fragmento-libro edit-description-section'> 
                <input name= "title" class=" edit-titulo-libro edit-info-product1" id="tituloNuevoProd" type="text" placeholder="Título" />
                <small id="tituloValidation" class="text-danger d-block d-none mt-1">Insertá un título.</small>
                <div class="edit-valoracion">
                    <label for="edit-valoracion">Valoración:</label>
                    <select class="edit-input-style" name="rating" class="edit-valoracion-estrellitas" id="edit-valoracion">
                            <option value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4</option>
                            <option value="4.5">4.5</option>
                            <option value="5">5</option>
                    </select>
                </div>

                <textarea name="description" class="edit-input-textarea" id="descripcionNuevoProd" cols="90" rows="10" placeholder="Descripcion del producto"></textarea>
                <small id="descripcionValidation" class="text-danger d-block d-none mt-1">Agregá una descripción del producto. #HedwigTip: Solo 3 de cada 10 potenciales compradores lee toda la descripción. Te recomendamos captar su atención en las primeras 3 oraciones.</small>

                </section>

            </div>

            <div class="container3-edit-product">
            
                <section class= 'caracteristicas edit-caracteristicas'>
                    <h4> <b> Características </b></h4>
                    <ul>
                        <li>
                            <select name="gender" class="edit-input-style" id="generoNuevoProd" type="text" placeholder=" Género">
                                <option value=0> - - - Seleccioná un género - - - </option>
                                <% for( let i = 0; i < data.generos.length; i++ ) { %>
                                    <option value="<%= data.generos[i].nombre %> "><%= data.generos[i].nombre %> </option>
                                <% } %>
                            </select>
                            <small id="generoValidation" class="text-danger d-block d-none mt-1">Seleccioná un género válido.</small>
                        </li>
                        <li>
                            <select name="author" class="edit-input-style" id="autor" type="text" placeholder=" Autor">
                                <option value=0> - - - Seleccioná un autor - - - </option>
                                <% for( let i = 0; i < data.autores.length; i++ ) { %>
                                    <option value="<%= data.autores[i].nombre %> "><%= data.autores[i].nombre %> </option>
                                <% } %>
                            </select>
                            <small id="autorValidation" class="text-danger d-block d-none mt-1">Seleccioná un autor válido.</small>
                        </li>
                        <li>
                            <input name="pagsLength" class="edit-input-style" id="cantPagsNuevoProd" type="text" placeholder=" Cantidad de paginas">
                            <small id="pagsValidation" class="text-danger d-block d-none mt-1">Asigná una cantidad de páginas.</small>
                        </li>
                        <li>
                            <input name="editorial" class="edit-input-style" id="editorialNuevoProd" type="text" placeholder=" Editorial">
                            <small id="editorialValidation" class="text-danger d-block d-none mt-1">Asigná la editorial del producto.</small>
                        </li>
                        <li>
                            <input name="stock" class="edit-input-style" id="stockNuevoProd" type="text" placeholder=" Stock">
                            <small id="stockValidation" class="text-danger d-block d-none mt-1">Asigná el stock del producto.</small>
                        </li>
                        
                    </ul>
                    
                </section>

            </div>

            <div class="input-prepend">
                <input type="submit" class='boton-compra' value="Crear producto" id="edit-submit-btn"></input> 
            </div>

            <br>

            <div>
                <input type="reset" class='btn edit-btn-reset' value="Restablecer" id="edit-submit-btn"></input> 
                <a href="/"><button class='btn btn-danger' id="edit-submit-btn">Cancelar</button></a>    
            </div>

        </form>

        </div>  

    </main>

    <!-- Footer -->

    <%- include("../partials/footer") %>

    <!-- Fin del footer -->

    <script src="/js/validations/frontValidationCreate.js"></script>

</body>

</html>