<!DOCTYPE html>

<html lang="es">

<head>

    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main class = 'main-detalles'>


        <div class="header-details">
        <div class='ruta-de-producto'>
            <span>
            <a href = "/"> Home > </a><a href = "/">  Sección > </a> <a href = "/">  <%= data.productoDetalle.gender %> </a>
            </span>
            <div class="edit-delete">
            <a href="/products/edit/<%= data.productoDetalle.id %> "><button class="btn boton-compra" id="small-btn">Editar producto <i class="far fa-edit"></i></button> </a>
            <form action="/products/delete/<%=data.productoDetalle.id%>?_method=DELETE" method="POST" onsubmit="return confirm('Esta seguro que desea eliminarlo?');"> 
                <button type="submit" class="btn btn-danger">Eliminar <i class="far fa-trash-alt"></i></button>
            </form>
            </div>
        </div>
        </div>

        
        <section class= 'detalle-del-producto'>

        <section>
       <div class= 'imagen-detalles'> <img src = /img/products/<%= data.productoDetalle.image %> width= "250px" > </img></div>
        <div> 
            
            
            <h2 class= 'precio'> <% let oferta = 100 - data.productoDetalle.offer; %>
                <% if (data.productoDetalle.offer) { %>
                    <p class=" precio-original-detalle"><s>$<%= data.productoDetalle.price %> </s> </p>
                    <div class = "precio-tarjeta-detalle">
                        <h3 class="product-price-detalle"><b>$<%= (data.productoDetalle.price * oferta) / 100 %> </b></h3>     
                            
                        <p class= "offer-percent-detalle"><%= data.productoDetalle.offer %>% OFF</p>
                    </div>
                        
                        
                <%  }
                    
                else { %>
                    <h3><b> $<%= data.productoDetalle.price %> </b></h3>
                    <% } %>
    
        </div>
        <div class = "enviosGratisDetalles"> <i class="fas fa-truck"></i> Envio gratis </div>
    

        </section>
        
        <section class= 'fragmento-libro'> <h2 class= titulo-libro><%= data.productoDetalle.title %></h2>

            <%- include("../partials/rating") %>

            <p><%= data.productoDetalle.description %> </p>

        <div> <a href="/products/carrito"><button class= 'boton-compra'> Agregar a carrito <i class="fas fa-shopping-cart"></i></button></a></div>
        

        </section>
        
        </section>

        <section class= 'caracteristicas'>
            <h4> <b> Características </b></h4>
            <ul>
                <li><span>Genero: <%= data.productoDetalle.gender %></span></li>
                <li><span>Autor: <%= data.productoDetalle.author %></span></li>
                <li><span>Cantidad de páginas: <%= data.productoDetalle.pagsLength %></span></li>
                <li><span>Editorial: <%= data.productoDetalle.editorial %></span></li>

            </ul>

        </section>


        <section>
            <h4 class= 'libros-interesados'>Libros que tal vez te interesen</h4>
            <!-- Carrusel -->
            <%- include("../partials/carrusel") %>
            <!-- Fin del Carrusel -->

        </section>

    </main>

    <!-- Footer -->

    <%- include("../partials/footer") %>

    <!-- Fin del footer -->

</body>

</html>