<!DOCTYPE html>

<html lang="es">

<head>

    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main class = 'main-detalles'>


        <div class="header-details">
        <div class='ruta-de-producto'>
            <span>
            <a href = "/"> Home > </a><a href = "/">  Sección > </a> <a href = "/">  <%= productoDetalle.gender %> </a>
            </span>
            <div class="edit-delete">
            <a href="/products/edit/<%= productoDetalle.id %> "><button class="btn boton-compra" id="small-btn">Editar producto <i class="far fa-edit"></i></button> </a>
            <form action="/products/delete/<%=productoDetalle.id%>?_method=DELETE" method="POST" onsubmit="return confirm('Esta seguro que desea eliminarlo?');"> 
                <button type="submit" class="btn btn-danger">Eliminar <i class="far fa-trash-alt"></i></button>
            </form>
            </div>
        </div>
        </div>

        
        <section class= 'detalle-del-producto'>

        <section>
       <div class= 'imagen-detalles'> <img src = /img/products/<%= productoDetalle.image %> width= "250px" > </img></div>
        <div> <h2 class= 'precio'> $<%= productoDetalle.price %></h2> </div>

        </section>
        
        <section class= 'fragmento-libro'> <h2 class= titulo-libro><%= productoDetalle.title %></h2>
           <div class= 'estrellitas'> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>

            <p><%= productoDetalle.description %> </p>

        <div> <a href="/products/carrito"><button class= 'boton-compra'> Agregar a carrito <i class="fas fa-shopping-cart"></i></button></a></div>

        </section>
        
        </section>

        <section class= 'caracteristicas'>
            <h4> <b> Características </b></h4>
            <ul>
                <li><span>Genero: <%= productoDetalle.gender %></span></li>
                <li><span>Autor: <%= productoDetalle.author %></span></li>
                <li><span>Cantidad de páginas: <%= productoDetalle.pagsLength %></span></li>
                <li><span>Editorial: <%= productoDetalle.editorial %></span></li>

            </ul>

        </section>


        <section>
            <h4 class= 'libros-interesados'>Libros que tal vez te interesen</h4>
            <!-- Carrusel -->
            <%- include("../partials/carrusel") %>
            <!-- Fin del Carrusel -->

        </section>

    </main>

    <!-- Footer -->

    <%- include("../partials/footer") %>

    <!-- Fin del footer -->

</body>

</html>