<!DOCTYPE html>

<html lang="es">

<head>

    <title>Editar producto</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main class = 'main-detalles'>

        <div class="max-width">

        <h2 class="admin-heading"> Editando <%= data.productoaEditar.titulo %>  </h2>

        <p class='ruta-de-producto'>
            <span>
            <a href = "/"> Home > </a><a href = "/">  Sección > </a> <a href = "/">  <%= data.productoaEditar.genero.nombre %>  </a>
            </span>
        </p>

        <form action="/products/edit/<%=data.productoaEditar.id%>?_method=PUT" method="POST" class="detalle-del-producto" id="form-edit-product">

            <div class="container2-edit-product">

                <section class="edit-image-section">

                    <div class="container-edit-image">
                        <label for="image-edit-placeholder" class="edit-input-foto"> No se puede editar la imagen del producto <i class="fas fa-camera edit-camera-icon edit-input-foto"></i></label>
                        
                    </div>
                <div class="edit-precio">
                    <input name="price" class="edit-input-style edit-info-product1" value="<%= data.productoaEditar.precio %> " type="text" placeholder="Precio">
                    <br>
                    <input name="offer" class="edit-input-style edit-info-product1" value="<%= data.productoaEditar.oferta %> " type="text" placeholder="Oferta (opcional)">
                </div>

                </section>
                
                <section class= 'fragmento-libro edit-description-section'> 
                <input name="title" class="edit-input-style edit-titulo-libro edit-info-product1" value="<%= data.productoaEditar.titulo %>" type="text" placeholder="Título" />
                <div class="edit-valoracion">
                    <label for="edit-valoracion">Valoración:</label>
                    <select class="edit-input-style" name="rating" class="edit-valoracion-estrellitas" id="edit-valoracion">
                            <% for( let i = 1; i <= 5; i += 0.5 ) { %>
                                <option <% if (data.productoaEditar.valoracion == i) { %>
                                    selected
                                <% } %> value="<%= i %>"><%= i %> </option>
                            <% } %>
                    </select>
                </div>

                <textarea name="description" class="edit-input-style" cols="90" rows="10" placeholder="Descripcion del producto"><%= data.productoaEditar.descripcion %> </textarea>

                </section>

            </div>

            <div class="container3-edit-product">
            
                <section class= 'caracteristicas edit-caracteristicas'>
                    <h4> <b> Características </b></h4>
                    <ul>
                        <li>
                            <select name="gender" class="edit-input-style" type="text" placeholder=" Género">
                                <% for( let i = 0; i < data.generos.length; i++ ) { %>
                                    <option value="<%= data.generos[i].nombre %> "><%= data.generos[i].nombre %> </option>
                                <% } %>
                            </select>
                        </li>
                        <li>
                            <select name="author" class="edit-input-style" type="text" placeholder=" Autor">
                                <% for( let i = 0; i < data.autores.length; i++ ) { %>
                                    <option value="<%= data.autores[i].nombre %> "><%= data.autores[i].nombre %> </option>
                                <% } %>
                            </select>
                        </li>
                        <li><input name="pagsLength" class="edit-input-style" value="<%= data.productoaEditar.cantidad_paginas %>" type="text" placeholder=" Cantidad de paginas"></li>
                        <li><input name="editorial" class="edit-input-style" value="<%= data.productoaEditar.editorial %>" type="text" placeholder=" Editorial"></li>
                        
                    </ul>
                    
                </section>

            </div>

            <div class="input-prepend">
                <input type="submit" class='boton-compra' value="Guardar cambios" id="edit-submit-btn"></input> 
            </div>

            <br>

            <div>
                <input type="reset" class='btn edit-btn-reset' value="Restablecer" id="edit-submit-btn"></input> 
                <a href="/"><button class='btn btn-danger' id="edit-submit-btn">Cancelar</button></a>    
            </div>

        </form>

        </div>  

    </main>

    <!-- Footer -->

    <%- include("../partials/footer") %>

    <!-- Fin del footer -->

</body>

</html>